<!-- Sequence: 18 -->
<!-- allowGuest: false -->

#if($data.getSession().getAttribute("userHelper").canDelete($project))

	<li class="yuimenuitem yuimenuitem-hassubmenu">
	    <a class="yuimenuitemlabel yuimenuitemlabel-hassubmenu" href="#xsyncbox">XSync</a>
	    <DIV ID="xsyncbox" class="yuimenu">
	        <DIV class="bd">
	            <ul class="first-of-type" style="width:170px">
    			<li class="yuimenuitem first-of-type">
        			<a id="sync-data-start" class="yuimenuitemlabel" href="#!">Initiate Project Sync</a>
    			</li>
    			<li class="yuimenuitem first-of-type">
        			<a id="sync-status" class="yuimenuitemlabel" href="#!">View Current Sync Status</a>
    			</li>
	            </ul>
	        </DIV>
	    </DIV>
	</li>

<script type="text/javascript">

    (function(){

        var projectId = XNAT.data.context.project,
            showSyncData$ = $('#showSyncData').hide();

        // only show the 'Sync Data' button if this project is configured to do so
        XNAT.xhr.getJSON({
            url: XNAT.url.restUrl('/xapi/xsync/setup/projects/' + projectId),
            success: function(config){
                showSyncData$[config.enabled === true ? 'show' : 'hide']();
            },
            error: function(o){
                showSyncData$.hide();
            }
        });

        function ajaxCallFailed(o){
            xmodal.loading.close();
            if (!window.leaving) {
                //alert(o.status + " " + o.statusText + " " +  o.responseText);
                if (o.status == "417") {
                    xmodal.message('Unable to initiate project synchronization', 'Project is not configured for synchronization. Please setup synchronization first');
                }
                else {
                    xmodal.message('Unable to initiate project synchronization', 'Unable to initiate project synchronization');
                }
            }
        };

        function syncNow(){
            if (isCurrentlySyncing()) {
                XNAT.ui.banner.top(3000, '<b>Sync is currently running for this project. &nbsp;Please await the results of that sync or try again later.</b>', 'error', '600px');
                return;
            }
            var exporturl = XNAT.url.csrfUrl('/xapi/xsync/projects/' + projectId);
            XNAT.xhr.post({
                url: exporturl,
                success: function(){
                    XNAT.ui.banner.top(2000, 'Synchronization started.', 'success');
                },
                error: ajaxCallFailed
            });
        };

        // show a confirmation dialog BEFORE starting the sync
        function confirmSync(){
            xmodal.confirm({
                title: 'Confirm Project Synchronization',
                content: 'Click "OK" to begin synchronization. An email notification will be sent once synchronization is complete.',
                okAction: syncNow
            });
        }

        function isCurrentlySyncing(){
		isSyncing = false;
		$.ajax({
		  url:serverRoot + '/xapi/xsync/syncStatus/projects/' + XNAT.data.context.project,
		  type:"GET",
		  async: false,
		  success: function(data){
			if (typeof data.syncing !== 'undefined') {
				isSyncing = data.syncing;
			}
		  }
		});
		return isSyncing;
        }

        // show a confirmation dialog BEFORE starting the sync
        function syncStatus(){
		$.ajax({
		  url:serverRoot + '/xapi/xsync/syncStatus/projects/' + XNAT.data.context.project,
		  type:"GET",
		  success: function(data){
				xmodal.alert({
						title: 'Synchronization status',
						width: '750px',
						height: '500px',
						content: returnSyncContent(data),
						label: 'OK'
					});
		  
		  },
		  error: function(data){
				xmodal.loading.close();
				if (!window.leaving) {
				 	xModalMessage('ERROR','Unable to get sync status.');
				}
		  }
		});
        }

	function returnSyncContent(data) {
		function showHistory(data) {
			alert(JSON.stringify(data));
		}
		if (data.syncType=="NONE_SINCE_STARTUP") {
			return "<h3>Sync has not run for this project since the last restart of the web server.</h3>";
		} else if (data.syncing) {
			return "<table style='font-size:15px;line-height:20px'>" + 
			 	"<tr><td><b>Current Status: </b></td><td><b><span style='color:#22AA22'>Sync in progress</span></b></td></tr>" + 
			 	"<tr><td>Sync Type: </td><td>" + data.syncType + "</td></tr>" + 
			 	"<tr><td>Sync Start Time: </td><td>" + data.syncStartTime + "</td></tr>" + 
			 	"<tr><td>Current Subject: </td><td>" + ((typeof data.currentSubject!=='undefined') ? data.currentSubject : "") + "</td></tr>" + 
			 	"<tr><td>Current Experiment: </td><td>" + ((typeof data.currentExperiment!=='undefined') ? data.currentExperiment : "") + "</td></tr>" + 
			 	"<tr><td>Initial Subject Count: </td><td>" + data.initialSubjectList.length + "</td></tr>" + 
			 	"<tr><td>Subjects Completed: </td><td>" + data.completedSubjects.length + "</td></tr>" +
			 	"<tr><td>Subjects Failed: </td><td>" + data.failedSubjects.length + "</td></tr>" +
			 	"<tr><td>Experiments Completed: </td><td>" + Object.keys(data.completedExperiments).length + "</td></tr>" +
			 	"<tr><td>Experiments Failed: </td><td>" + Object.keys(data.failedExperiments).length + "</td></tr>" +
			 	"</table>"
				;
		} else {
			var historyUrl = "/xapi/xsync/history/" + data.historyId + "?format=json";
			return "<table style='font-size:15px;line-height:20px'>" + 
			 	"<tr><td><b>Current Status: </b></td><td><b>Not Syncing</b></td></tr>" + 
			 	"<tr><td>Last Sync Result: </td><td>" + ((data.wasSyncSuccessful) ? "Successful" : "Failed") + "</td></tr>" + 
			 	"<tr><td>Last Sync Type: </td><td>" + data.syncType + "</td></tr>" + 
			 	"<tr><td>Last Sync Start: </td><td>" + data.syncStartTime + "</td></tr>" + 
			 	"<tr><td>Last Sync End: </td><td>" + data.syncEndTime + "</td></tr>" + 
			 	"<tr><td>Initial Subject Count: </td><td>" + data.initialSubjectList.length + "</td></tr>" + 
			 	"<tr><td>Subjects Completed: </td><td>" + data.completedSubjects.length + "</td></tr>" +
			 	"<tr><td>Subjects Failed: </td><td>" + data.failedSubjects.length + "</td></tr>" +
			 	"<tr><td>Experiments Completed: </td><td>" + Object.keys(data.completedExperiments).length + "</td></tr>" +
			 	"<tr><td>Experiments Failed: </td><td>" + Object.keys(data.failedExperiments).length + "</td></tr>" +
			 	"<tr><td>Sync History: </td><td><a href='javascript:XSYNC.reporting.showHistoryDetailsModal(\"" + historyUrl + "\");'>View Sync History</a></td></tr>" +
			 	"</table><br><br>" +
				"NOTE:  The counts displayed here should not be considered definitive.  For complete sync results, view the sync history." 
				;
		} 
	}


        $('#sync-data-start').on('click', function(e){
            e.preventDefault();
            confirmSync();
        });

        $('#sync-status').on('click', function(e){
            e.preventDefault();
            syncStatus();
        });

    })();

</script>

#end
